#logform {
  margin-top: calc(2.85714286em);
  padding: 0;
}

#navbar > div.text.container {
  font-size: 1em;
  max-width: calc(700px + 2 * 1.14286em) !important;
}

#logform-segment {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 1em 0;
}
