.env
.vscode
venv/
**/__pycache__
*.pyc
*.egg-info/
dist/
settings.cfg
*.log*
logbook.db
logbook/static/gen
.webassets-cache
logbook/static/vendor/semantic-ui/src
logbook/static/vendor/semantic-ui/tasks
logbook/static/vendor/semantic-ui/gulpfile.js