{% extends "base.html" %}

{% block content %}
<div id="logform-segment" class="ui secondary segment">
  <div class="ui text container">
    <div id="logform" class="ui basic clearing segment">
      <div class="ui form">
        <form action="{{ url_for('logbook.update_log_content', log_id = log_id) }}" method="post">
          <div class="field">
            <textarea type="msg" name="text">{{ content }}</textarea>
          </div>
          <button class="ui button primary right floated" type="submit">
            Update Log
          </button>
          <a href="/">
            <button class="ui button basic right floated">
              Cancel
            </button></a>
        </form>
        <form action="{{ url_for('logbook.delete_log_entry', log_id = log_id) }}" method="post">
          <button class="ui button negative left floated" type="submit">
            Delete Log
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}