{% extends "base.html" %}

{% block content %}
<div class="bg-blue-700">
    <div class="container m-auto flex content-center h-screen">
        <div class="flex-auto bg-gray-200 p-4 m-auto max-w-sm rounded shadow-2xl">
            <img class="h-16 m-auto px-2 pb-2 pt-0 mb-4"
                src="{{ url_for('logbook.static', filename='img/logo-dark.svg') }}" />
            <form method="POST" action="{{ url_for('auth.login') }}" class="flex flex-col ">
                <label class="form-label">Username</label>
                <input class="mb-4 input" type="text" name="username" placeholder="Username" autofocus="">
                <label class="form-label">Password</label>
                <input class="mb-4 input" type="password" name="password" placeholder="Your Password">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="text-red-600 text-sm font-bold mb-2">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}

                <div class="flex flex-row items-center mb-2">
                    <input class="flex-none mr-2" type="checkbox" tabindex="0">
                    <label class="flex-auto text-gray-600 text-sm">Remember me</label>
                </div>
                <button class="button button-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}