<div class="w-full mt-2 mb-6" id="logform-segment">
    <form class="flex flex-col" action="{{ url_for('logbook.store_log') }}" method="post">
        <textarea class="input transition-all" type="msg" placeholder="What's up?" name="text"></textarea>
        <div class="flex flex-row-reverse justify-start">
            <button class="button button-primary" type="submit">Log</button>
            <button class="button button-secondary mx-2" type="reset" value="Reset">Clear</button>
        </div>
    </form>
</div>