<div id="logform-segment" class="ui secondary segment">
    <div class="ui text container">
        <div id="logform" class="ui basic clearing segment">
            <div class="ui form">
                <form action="{{ url_for('logbook.store_log') }}" method="post">
                    <div class="field">
                        <textarea type="msg" placeholder="What's up?" name="text"></textarea>
                    </div>
                    <button class="ui button primary right floated" type="submit">
                        Log
                    </button>
                    <button class="ui button basic right floated" type="reset" value="Reset">
                        Clear
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>